.card-container {
    display: flex;
    
    border: 1px solid black;
    flex-direction: column;
    background-color: grey;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}

.genius-image {
    width: 100%;
}